[submodule "ansible/roles/gitlab-runner"]
	path = ansible/roles/gitlab-runner
	url = https://github.com/ngodat0103/ansible-gitlab-runner.git
[submodule "ansible/roles/maven"]
	path = ansible/roles/maven
	url = https://github.com/ngodat0103/ansible-role-maven.git
[submodule "ansible/roles/java"]
	path = ansible/roles/java
	url = https://github.com/ngodat0103/ansible-role-java.git
